<br>
<br>
<br>
<br>
<div class="container">
    <br>
    <h3 class="text-center">Datos del Cliente {{cliente.nombreCliente}}</h3>
    <br>
    <div class="card container" style="width: 20rem;">
        <br>
        <div class="card-body">
            <div>
                <label><b>ID : </b> {{cliente.idCliente}}</label>
            </div>
            <div>
                <label><b>Nombre : </b> {{cliente.nombreCliente}}</label>
            </div>
            <div>
                <label><b>Apellidos : </b> {{cliente.apellidosCliente}}</label>
            </div>
            <div>
                <label><b>Edad : </b> {{cliente.edad}}</label>
            </div>
            <div>
                <label><b>Nro de Telefono : </b> {{cliente.nroTelefono}}</label>
            </div>
            <div>
                <label><b>DNI: </b> {{cliente.docIdentidad}}</label>
            </div>
            <div>
                <label><b>Email : </b> {{cliente.email}}</label>
            </div>
            <br>
            <a routerLink="/clientes" class="btn btn-secondary">Volver</a>

        </div>
    </div>
</div>